/* wheels.css*/

:root {
    --bg-col: #fff8e3;
    --border-col: black;
    --button-travel: 2px;
    --toolbar-height: 120px;
}

*{
    margin:0px; 
    padding:0px; 
    font-family:Verdana, 
    Geneva, sans-serif
}
p {
    font-size:1em; 
}
body{
    max-width:100%; 
    max-height:100%; 
    background-color:var(--bg-col); 
    text-align: center
}

#toolBar{
    position:absolute; 
    height:var(--toolbar-height);
    width:100%
}

td{
    text-align:center
}

input[type=text], button, select{
    cursor:pointer; 
    padding: 3px
}

select{
    margin: 0px
}

.label{
    font-weight:bold
}

.leftAlign{
    text-align:left
}

.rightAlign{
    text-align:right
}

input[type=range]{
    width:10vw
}

#brushPreview{
    height:100px; 
    width:100px
}

#textContent, #textLabel{
    display:none
}

#textPreview{
    display: none
}

#previewCell{
    width:120px
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.popup{
    background-color: var(--bg-col);
    border: 1px solid var(--border-col);
    max-width: 50%;
    max-height: 70%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 2px;
}

#popupCont {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none
}

.visible {
    display: inline
}

.unbold {
    font-weight: normal;
}

.belowTools {
    margin-top: var(--toolbar-height)
}

/*
button, .button {
    background-color: var(--bg-col);
    border: 2px solid var(--border-col);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    box-shadow: 0px var(--button-travel) var(--border-col);
    margin-bottom: 0px;
    transition: transform 0.1s linear, box-shadow 0.1s linear;
}
button:hover, .button:hover {
    box-shadow: 0px 0px;
    transform: translateY(var(--button-travel));
}
*/